<h1>割り当て済みIPアドレス</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>IPアドレス</th>
      <th>利用者</th>
      <th>マシン名</th>
      <th>位置</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% @usages.each do |usage| %>
      <tr>
        <td><%= usage.ip_address %></td>
        <td><%= usage.user %></td>
        <td><%= usage.machine_name %></td>
        <td><%= usage.location %></td>
        <td><%= usage.note %></td>
      </tr>
    <% end %>
  </tbody>
</table>

