<h1>利用可能IPアドレスの範囲設定</h1>

<h2>IPアドレスの追加</h2>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@new_address) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :ip_address_str, "1つだけ追加" %>
      <%= f.text_field :ip_address_str, class: "span3" %>

      <%= f.label :ip_address_start, "範囲を指定して追加" %>
      <%= f.label :ip_address_start, "例: 192.168.15.10 ~ 192.168.15.20" %>
      <%= f.text_field :ip_address_start, class: "span3" %>
      ~
      <%= f.text_field :ip_address_end, class: "span3" %>

      <%= f.submit "Create new IP address", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>


<h2>利用可能IPアドレスの一覧</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>IPアドレス</th>
      <th>利用者</th>
      <th>位置</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.sort.each do |address| %>
      <tr>
        <td><%= address.ip_address %></td>
        <td><%= address.ip_addr_usage.user unless address.ip_addr_usage.nil? %></td>
        <td><%= address.ip_addr_usage.location unless address.ip_addr_usage.nil? %></td>
        <td><% if address.ip_addr_usage.nil? %>
              <%= link_to "delete", address, method: :delete,
              data: { confirm: "このIPアドレスを一覧から削除します。本当によろしいですか？" } %>
            <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
